<x-app-layout>
    <x-slot name="header">Menu Management</x-slot>

    <a href="{{ route('menus.create') }}" class="btn btn-primary mb-3">
        + Tambah Menu
    </a>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Nama</th>
                <th>Posisi</th>
                <th>Status</th>
                <th>Aksi</th>
            </tr>
        </thead>
        <tbody>
            @foreach($menus as $menu)
            @include('menus.partials.row', ['menu' => $menu, 'level' => 0])
            @endforeach
        </tbody>
    </table>
</x-app-layout>